<div class="shadow-sm p-4 rounded" id="loginMax">
    <img src="../../assets/images/icons8-dashboard-100.png" alt="LOGO" width="100" height="100">
    <h1 class="mt-3">Dashboard</h1>
    <div class="mt-4 d-flex justify-content-around">
        <div id="input">
            <div *ngIf="erreur" class="p-1 mb-3 text-white bg-danger rounded">Coordonnées Incorrecte</div>
            <div *ngIf="status" class="p-1 mb-3 text-dark bg-warning rounded">Veuillez remplir les cases</div>
            <form [formGroup]="authentificationForm" (ngSubmit)="onSubmit(authentificationForm.value)">
                <input type="text" class="form-control" formControlName="matricule" placeholder="Matricule">
                <input type="password" class="form-control mt-2" formControlName="password" placeholder="Mot de passe">
                <button type="submit" class="btn mt-3 w-50" id="btn_connexion">Connexion</button>
            </form>
        </div>
    </div>
</div>