<div class="fixed-top d-flex flex-column justify-content-between align-items-center p-3 bg-dark h-100" id="menu">
    <div class="w-100 h-100 d-flex flex-column align-items-center">
        <div id="donnee_admin" class="w-100">
            <span class="h4 fw-lighter">
                <a class="text-white" routerLink="/accueil" id="text1">Dashboard</a>
                <a class="text-white" routerLink="/accueil" id="text2">SG</a>
            </span><br>
            <span>{{matricule}}</span>
            <hr>
        </div>
        <div id="btn_menu" class="w-100 d-flex flex-column">
            <button *ngFor="let itemMenu of liste_menu" class="btn w-100 mt-2" id="btn_menu" routerLink="/{{itemMenu.route_menu}}" routerLinkActive="is-active">
                <span id="text_menu">{{itemMenu.nom_menu}}</span>
                <i class="{{itemMenu.icon_menu}}" id="icon_menu"></i>
            </button>
        </div>
    </div>
    <button class="btn btn-sm mt-3 w-100" id="btn_deconnexion" (click)="deconnexion()"> 
        <span id="text_menu">Déconnexion</span>
        <i class="bi bi-box-arrow-right" id="icon_menu"></i>
    </button>
</div>
<div class="fixed-top" id="topbar">    
    <div class="bg-white shadow-sm rounded d-flex flex-row justify-content-between align-items-center" id="hidden">
        <span class="h3 fw-lighter">{{titleComponent}}</span>
        <img src="../../assets/images/icons8-dashboard-100.png" alt="LOGO" height="45" width="45">
    </div>
</div>