#menu{
    width: 200px;
    color: white;
    z-index: 10000;
    transition: all .4s ease-in-out !important;
}
#menu #donnee_admin{
    text-align: center;
}
#menu #donnee_admin span a{
    text-decoration: none;
}
#menu #btn_menu button{
    border-color: black;
    transition: all .2s ease-in;
    color: white;
}
#menu #btn_menu #inscription ul li a{
    text-decoration: none;
    color: white;
}
#menu #btn_menu button:hover{
    color: white;
    background-color: rgb(128, 170, 255);
}
#menu #btn_deconnexion{
    background-color: rgb(106, 127, 171);
    color: white;
    transition: all .2s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s ease-in-out !important;
}

#menu #btn_deconnexion:hover{
    background-color: rgb(128, 170, 255);
}

#topbar{
    width: 88%;
    height: 70px;
    top: 1%;
    left: 215px;
    z-index: 10000;
    transition: all .4s ease-in-out !important;
}

#tophide{
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 9%;
    transition: all .4s ease-in-out !important;
}

#bottomhide{
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 1%;
}

.is-active{
    background-color: rgb(106, 127, 171);
}

#btn_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s ease-in-out !important;
}

#text_menu{
    margin-left: 10px;
    transition: all .4s ease-in-out !important;
}

#icon_menu{
    margin-right: 8px;
    transition: all .4s ease-in-out !important;
}

#text2{
    display: none;
    transition: all .4s ease-in-out !important;
}

@media only screen and (max-width: 1270px) {
    #menu{
        width: 80px;
        color: white;
        z-index: 10000;        
        transition: all .4s ease-in-out !important;
    }
    #topbar{
        width: 91%;
        height: 70px;
        top: 1%;
        left: 94px;
        z-index: 10000;
        transition: all .4s ease-in-out !important;
    }
    
    #text_menu{
        display: none;
        transition: all .4s ease-in-out !important;
    }
    
    #btn_menu{
        display: inline;
        transition: all .4s ease-in-out !important;
    }
    
    #icon_menu{
        margin: 0;
        transition: all .4s ease-in-out !important;
    }
    
    #menu #btn_deconnexion{
        margin: 0;
        display: inline;
        transition: all .4s ease-in-out !important;
    }
    
    #text1{
        display: none;
        transition: all .4s ease-in-out !important;
    }
    
    #text2{
        display: inline;
        transition: all .4s ease-in-out !important;
    }

}