#content{
    width: 100%;
    padding-top: 92px;
    padding-left: 218px;
    padding-right: 15px;
    padding-bottom: 16px;
    transition: all .4s ease-in-out;
}
@media only screen and (max-width: 1270px) {
    #content{
        width: 100%;
        padding-top: 92px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 98px;
        transition: all .4s ease-in-out;
    }
}