<app-menu [titleComponent]="titleComponent"></app-menu>

<div class="w-100 p-4 rounded shadow-sm" id="menu"> 
    <table class="table table-primary">
        <thead class="text-center">

            <th style="width:9%" class="fw-normal">Icons</th>
            <th style="width:28%" class="fw-normal">Noms</th>
            <th style="width:35%;" class="fw-normal">Routes</th>
            <th style="width:11%;" class="fw-normal">Rang</th>
            <th style="width:17%;" class="fw-normal"></th>
        
        </thead>
    </table>
    <div class="corps-list" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of liste_menu; let i = index" cdkDrag cdkDragLockAxis="y" class="list ps-4 pe-4 pt-2 pb-2">
            <div class="w-100 d-flex flex-row justify-content-between align-items-center p-2">
                
                <div style="width:5%" class="text-center">
                    <button class="btn btn-secondary" style="width: 45px; height:45px;"><i class="{{item.icon_menu}}"></i></button>
                </div>
                <div style="width:30%">
                    <input type="text" [(ngModel)]="item.nom_menu" class="p-2 form-control form-control-sm">
                </div>
                <div style="width: 30%;">
                    <input type="text" [(ngModel)]="item.route_menu" class="p-2 form-control form-control-sm">
                </div>
                <div style="width: 8%;">
                    <input type="text" class="p-2 text-center form-control form-control-sm" value="{{i+1}}" [disabled]="true">
                </div>
                <div style="width: 6%;" class="text-center d-flex flex-row justify-content-between align-items-center">
                    <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" title="Modifier" (click)="modifierMenu(item)"><i class="bi bi-pen-fill"></i></button>
                    <button class="btn btn-danger" data-bs-toggle="tooltip" title="Supprimer" (click)="supprimerMenu(item.id_menu)"><i class="bi bi-trash3-fill"></i></button>
                </div>
                <div style="width:5%;" class="text-center" cdkDragHandle>
                    <i class="bi bi-three-dots-vertical" style="font-size: 20px;"></i>
                </div>
            
            </div>
        </div>
    </div>
    <hr>
    <div class="ps-4 pe-4 pt-2 pb-2 bg-white">
        <div class="w-100 d-flex flex-row justify-content-between align-items-center p-2">
            
            <div style="width:5%" class="text-center">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#showIcon" class="btn btn-outline-secondary" style="width: 45px; height:45px;"><i class="{{iconMenu}}" aria-hidden="true"></i></button>
            </div>
            <div style="width:30%">
                <input type="text" [(ngModel)]="nomMenu" class="p-2 form-control form-control-sm">
            </div>
            <div style="width: 30%;">
                <input type="text" [(ngModel)]="routeMenu" class="p-2 form-control form-control-sm">
            </div>
            <div style="width: 8%;">
                <input type="text" [(ngModel)]="nextRang" class="p-2 text-center form-control form-control-sm" [disabled]="true">
            </div>
            <div style="width: 6%;" class="text-center d-flex flex-row justify-content-between align-items-center">
                <button class="btn btn-success" data-bs-toggle="tooltip" title="Ajouter" (click)="ajouterMenu(iconMenu, nomMenu, routeMenu)"><i class="bi bi-check-lg"></i></button>
                <button class="btn btn-secondary" data-bs-toggle="tooltip" title="Annuler" (click)="annulerAjout()"><i class="bi bi-x-lg"></i></button>
            </div>
            <div style="width:5%;" class="text-center">
                <button class="btn btn-outline-primary" data-bs-toggle="tooltip" title="Enregistrer la ranger" (click)="enregistrerRang()"><i class="bi bi-check-all"></i></button>
            </div>
                    
        </div>
        <div class="collapse" id="showIcon">
            <div class="rounded border mt-2 mb-2 p-2">
                <div *ngFor="let icon of icon" class="d-inline">
                    <button class="mt-1 ms-1 btn btn-sm btn-outline-secondary text-center px-2" style="width: 40px; height:40px;" (click)="getIcon(icon)"><i class="{{icon}}"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

