<app-menu [titleComponent]="titleComponent"></app-menu>
<div class="shadow-sm bg-body p-4 mt-3 w-50">
    <span class="h2 fw-lighter">Utilisateurs</span>
    <div class="accordion mt-3" id="utilisateur">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ajout" aria-expanded="true" aria-controls="collapseOne">Ajout d'un utilisateur</button>
            </h2>
            <div id="ajout" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                <div class="accordion-body">
                    <form [formGroup]="addFormUser" (submit)="addUserForm(addFormUser.value)">
                        <div class="container">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <input type="text" class="form-control" formControlName="lastname" placeholder="Nom">
                                <input type="text" class="form-control ms-2" formControlName="firstname" placeholder="Prénom">
                            </div>
                            <input type="text" class="form-control mt-2" formControlName="username" placeholder="Nom d'utilisateur (pseudo)">
                            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
                                <input type="password" class="col form-control" formControlName="motDePasse" placeholder="Mot de passe">
                                <input type="password" class="col form-control ms-2" formControlName="confirm_motDePasse" placeholder="Confirmation">
                            </div>
                            <input type="submit" [disabled]="!addFormUser.valid" class="btn btn-outline-success btn-sm mt-2" value="Enregistrer">
                            <input type="reset" class="btn btn-outline-secondary btn-sm mt-2 ms-1" value="Annuler">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#liste" aria-expanded="false" aria-controls="collapseTwo">Liste des utilisateurs</button>
            </h2>
            <div id="liste" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                <div class="accordion-body">
                    <span *ngIf="ifEmpty">{{contenuIfEmpty}}</span>
                    <table *ngIf="!ifEmpty" class="table table-bordered table-sm">
                        <thead>
                            <th>ID</th>
                            <th>Nom et Prénom</th>
                            <th>Nom d'utilisateur</th>
                            <th style="width: 25%;">Actions</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of users; let i = index">
                                <td>{{item.id}}</td>
                                <td>{{item.nom}} {{item.prenom}}</td>
                                <td>{{item.nom_utilisateur}}</td>
                                <td class="text-center">
                                    <button class="btn btn-warning btn-sm">Modifier</button>
                                    <button class="btn btn-danger btn-sm ms-2">Supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>